#header {
    width: 100%;
    position: fixed;
}

.header-menu {

    text-align: right;
}

.header-logo {
    font-size: 1em;

}

.header-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-menu-list > li {
    display: inline-block;
}